.Main {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.Center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.PreLoad {
    background-color: #000000;
}

.loader {
    margin-top: -18px;
}

.load-back {
    width: 100%;
    height: 4px;
    background-color: #2E2E2E;
}

.load-front {
    margin-top: -4px;
    width: 0%;
    height: 4px;

    background-color: #FFFFFF;
}

.Promo {
    background-image: url('prmnd.gif');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
}

.Promo .Center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Promo h1 {
    margin: 0px;
}

.Promo .loading {
    display:inline-block;
    clip-path: inset(0 100% 0 0);
    animation: l 4s steps(5) infinite;
}

@keyframes l {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    50% {
        clip-path: inset(0 -1ch 0 0);
    }
    100% {

    }
}

.Promo,
.PreLoad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}
